<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stronger Together</h2>
                <hr class="light">
                <p class="text-faded">Write Something.</p>
                <p class="text-faded">Millions of people uncovering the truth!</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Deep Dive</a>
            </div>
        </div>
    </div>
</section>
