<section class="no-padding" id="whyus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Who are we? </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-arrow-trend-up wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Retail Investors</h3>
                    <p class="text-muted">Retail Investors population has and will continue to increase in Stock Market .</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-monkey wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Apes</h3>
                    <p class="text-muted">Buy and Hold. A simple but effective strategy that has disrupted the Market</p>
                </div>
            </div>                        
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bitcoin wow bounceIn text-primary"></i>
                    <h3>Crypto Traders</h3>
                    <p class="text-muted">Extremely Volatile Market. Extreme Risk. Extreme Reward.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-earth-americas wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>From all around the Globe</h3>
                    <p class="text-muted">We are all traders who have grown tired of the corruption and illegal trading strategies being used that steals our profits.</p>
                </div>
            </div>
        </div>
    </div>
</section>
